In [1]:
import pandas as pd
import numpy as np
import torch
import os
from utils import data

dataset_path = './dataset/'
dataset_files = ['TcData.csv' ,'BsData.csv']

pd.set_option("display.max_columns", None)

dfs = dict([])
for file in dataset_files:
    df = pd.read_csv(os.path.join(dataset_path,file), na_values=0)
    df = df.rename(columns={'Composition': 'formula'})
    df = data.featurize_data(df,load_existing_df=True, pkl_path = os.path.join(dataset_path, f"./df_data_{file[:2]}.pkl"))
    df.name = file[:2]
    dfs[df.name] = df

from utils.surrogate import surrogate_model

Tc_surrogate = surrogate_model(name='Tc', df=dfs['Tc'])
Bs_surrogate = surrogate_model(name='Bs', df=dfs['Bs'])

Tc_surrogate.cleanup_df(drop_NaN = True, 
                        drop_col_with_NaN = False)
Bs_surrogate.cleanup_df(drop_NaN = True, 
                        drop_col_with_NaN = False)

surrogates = [Tc_surrogate, Bs_surrogate]

In [2]:
data.describe_non_zero_mean(Tc_surrogate.df)

,Annealing Time (s),Annealing Temperature (K),Thickness (mu m),Tc (K),B,C,Al,Si,P,Mn,Fe,Co,Ni,Cu,Ga,Zr,Nb,Mo
count,98.000000,98.000000,98.000000,98.000000,98.000000,10.00,10.00,86.000000,12.000000,1.0,98.000000,8.000000,2.0000,77.000000,10.00,7.00,79.000000,4.0000
mean,1668.527573,735.758597,21.173469,587.437756,0.078776,0.05,0.05,0.127944,0.096667,0.1,0.740944,0.050687,0.0133,0.009795,0.02,0.07,0.029089,0.0575
std,1439.796336,74.034270,1.682386,81.817215,0.021407,0.00,0.00,0.037288,0.007785,NaN,0.053789,0.047836,0.0000,0.001265,0.00,0.00,0.010553,0.0150
min,60.000000,573.000000,19.000000,388.646930,0.030000,0.05,0.05,0.030000,0.080000,0.1,0.510000,0.005000,0.0133,0.002100,0.02,0.07,0.004000,0.0500
25%,240.000000,679.500000,20.000000,594.600217,0.075000,0.05,0.05,0.135000,0.100000,0.1,0.735000,0.013500,0.0133,0.010000,0.02,0.07,0.030000,0.0500
50%,1800.000000,745.514655,21.000000,612.115905,0.077500,0.05,0.05,0.135000,0.100000,0.1,0.735000,0.036750,0.0133,0.010000,0.02,0.07,0.030000,0.0500
75%,3600.000000,780.500000,21.000000,625.164697,0.090000,0.05,0.05,0.150000,0.100000,0.1,0.735000,0.075000,0.0133,0.010000,0.02,0.07,0.030000,0.0575
max,3857.047930,924.632090,25.000000,769.000000,0.150000,0.05,0.05,0.160000,0.100000,0.1,0.900000,0.120000,0.0133,0.010000,0.02,0.07,0.070000,0.0800

In [3]:
data.describe_non_zero_mean(Bs_surrogate.df)

,Annealing Time (s),Annealing Temperature (K),Thickness (mu m),Bs (T),B,C,Al,Si,P,V,Cr,Fe,Co,Ni,Cu,Ga,Ge,Zr,Nb,Mo,Hf
count,242.000000,242.000000,242.000000,242.000000,231.000000,89.000000,14.000000,189.000000,138.000000,2.000000,2.00,242.000000,15.000000,5.000000,154.000000,2.00,7.00,16.000000,60.000000,4.000000,13.00
mean,1214.834711,707.543060,23.272727,1.586566,0.096042,0.028634,0.039286,0.044007,0.041501,0.010000,0.02,0.807925,0.077733,0.234000,0.009024,0.02,0.04,0.015625,0.030466,0.015000,0.07
std,1137.973090,88.279149,5.296793,0.276829,0.034058,0.017662,0.018172,0.040418,0.029785,0.007071,0.00,0.060213,0.057151,0.123329,0.002154,0.00,0.00,0.015042,0.009332,0.007071,0.00
min,60.000000,543.000000,13.000000,0.259860,0.010000,0.005000,0.010000,0.005000,0.010000,0.005000,0.02,0.390000,0.040000,0.078000,0.002500,0.02,0.04,0.010000,0.020000,0.005000,0.07
25%,600.000000,630.000000,20.000000,1.530000,0.080000,0.010000,0.030000,0.020000,0.027500,0.007500,0.02,0.797000,0.040000,0.156000,0.007500,0.02,0.04,0.010000,0.029000,0.012500,0.07
50%,600.000000,703.348170,22.000000,1.670000,0.090000,0.030000,0.030000,0.030000,0.030000,0.010000,0.02,0.830000,0.050000,0.234000,0.008000,0.02,0.04,0.010000,0.029412,0.017500,0.07
75%,1800.000000,773.000000,25.000000,1.776663,0.112500,0.040000,0.047500,0.050000,0.040000,0.012500,0.02,0.838750,0.108000,0.312000,0.010000,0.02,0.04,0.012500,0.030000,0.020000,0.07
max,3840.000000,973.000000,76.000000,1.888650,0.235625,0.060000,0.080000,0.155000,0.120000,0.015000,0.02,0.900000,0.172000,0.390000,0.015000,0.02,0.04,0.070000,0.070000,0.020000,0.07

In [4]:
data.describe_non_zero_mean(pd.concat([Tc_surrogate.df, Bs_surrogate.df]))

,Thickness (mu m),Tc (K),B,C,Al,Si,P,V,Cr,Mn,Fe,Co,Ni,Cu,Ga,Ge,Zr,Nb,Mo,Sn,Hf,Bs (T)
count,514.000000,220.000000,498.000000,179.000000,34.000000,416.000000,267.000000,2.000000,2.00,2.0,514.000000,44.000000,9.00000,279.000000,22.000000,7.00,43.000000,155.000000,32.000000,6.00,17.00,294.000000
mean,22.676070,599.232518,0.092111,0.035257,0.042647,0.062035,0.049653,0.010000,0.02,0.1,0.786017,0.103773,0.14110,0.009179,0.026818,0.04,0.030321,0.029097,0.020000,0.02,0.07,1.556457
std,4.547522,73.767177,0.036969,0.021229,0.012627,0.050247,0.034419,0.007071,0.00,0.0,0.068845,0.070892,0.14123,0.002061,0.010414,0.00,0.023676,0.010367,0.018184,0.00,0.00,0.281092
min,13.000000,370.000000,0.010000,0.005000,0.010000,0.005000,0.010000,0.005000,0.02,0.1,0.390000,0.005000,0.01330,0.001000,0.020000,0.04,0.010000,0.004000,0.005000,0.02,0.07,0.259860
25%,20.000000,587.000000,0.075000,0.020000,0.032500,0.020000,0.030000,0.007500,0.02,0.1,0.735000,0.040000,0.01330,0.007843,0.020000,0.04,0.010000,0.029003,0.010000,0.02,0.07,1.473255
50%,21.000000,605.983795,0.090000,0.030000,0.040000,0.040000,0.040000,0.010000,0.02,0.1,0.803922,0.116250,0.07800,0.010000,0.020000,0.04,0.027600,0.030000,0.010000,0.02,0.07,1.650000
75%,25.000000,626.768258,0.110000,0.050000,0.050000,0.100000,0.080000,0.012500,0.02,0.1,0.833000,0.166500,0.23400,0.010000,0.040000,0.04,0.033300,0.030000,0.020000,0.02,0.07,1.738235
max,76.000000,769.000000,0.235625,0.090000,0.080000,0.160000,0.120000,0.015000,0.02,0.1,0.900000,0.292000,0.39000,0.015000,0.050000,0.04,0.070000,0.070000,0.080000,0.02,0.07,1.888650

In [5]:
df = surrogates[0].df

subset = ['Nb', 'Cu', 'Si', 'B', 'Fe']
df_subset = data.subset_df_by_elements(pd.concat([Tc_surrogate.df, Bs_surrogate.df]), subset)
data.describe_non_zero_mean(df_subset)

,Thickness (mu m),Tc (K),B,Si,V,Fe,Ni,Cu,Nb,Mo,Bs (T)
count,132.000000,78.000000,132.000000,132.000000,2.000000,132.000000,3.0000,132.000000,132.000000,2.000000,54.000000
mean,21.954545,619.232528,0.091839,0.120650,0.010000,0.749189,0.0133,0.009671,0.028045,0.010000,1.378643
std,2.648242,34.815406,0.017761,0.037582,0.007071,0.024254,0.0000,0.001643,0.006349,0.007071,0.277504
min,20.000000,541.000000,0.070000,0.040000,0.005000,0.720000,0.0133,0.002100,0.004000,0.005000,0.680000
25%,20.000000,600.557960,0.075000,0.091600,0.007500,0.735000,0.0133,0.010000,0.029412,0.007500,1.182972
50%,21.000000,618.472175,0.090000,0.135000,0.010000,0.735000,0.0133,0.010000,0.030000,0.010000,1.308785
75%,22.500000,625.880637,0.092409,0.150000,0.012500,0.759000,0.0133,0.010000,0.030000,0.012500,1.618920
max,30.000000,769.000000,0.130000,0.155000,0.015000,0.803922,0.0133,0.013000,0.040000,0.015000,1.801110

In [9]:
data.describe_non_zero_mean(df_subset)['Bs (T)']['mean']

1.3786429629629626

In [6]:
def EF_presence(df):
    stat = df.astype(bool).sum(axis=0)
    return stat[stat>0][4:]

EF_presence(surrogates[0].df)

B     219
C      69
Al     14
Si    190
P      99
Mn      2
Fe    220
Co     24
Ni      4
Cu    101
Ga     14
Zr     16
Nb     88
Mo     28
Sn      3
dtype: int64

In [7]:
EF_presence(surrogates[1].df)

B     279
C     110
Al     20
Si    226
P     168
V       2
Cr      2
Fe    294
Co     20
Ni      5
Cu    178
Ga      8
Ge      7
Zr     27
Nb     67
Mo      4
Sn      3
Hf     17
dtype: int64